.form {
    text-align: center;
}

h1 {
    font-size: 100px;
    margin-bottom: 50px;
    font-weight:lighter;
    color: pink;
}

input {
    border-width: 1px;
    border-color: grey;
    margin-bottom: 50px;
    
}

li::marker {
    color: white;
}

button.bttn {
    padding-left: 50px;
    background-color: transparent;
    border: none;
}